.Bridge {
    display:flex;
    flex-direction: column;
}

.Bridge > .Bridge-title {
    padding-bottom:32px;
}
.Bridge > .Bridge-title > .Bridge-title-body {
    width:100%;
    max-width:1200px;
    box-sizing:border-box;
    display:flex;
    flex-direction: column;

    
}
.Bridge > .Bridge-title > .Bridge-title-body > .title {
    padding-bottom:12px;
}
.Bridge > .Bridge-title > .Bridge-title-body > .title > h1 {
    font-size:24px;
    font-weight: 500;
}
.Bridge > .Bridge-title > .Bridge-title-body > .title > p {
    color:#fff;
    margin: 1em 0;
    margin-bottom:0;
    font-size:16px;

}

.Bridge > .Bridge-title > .Bridge-title-body > .subtitle > a {
    text-decoration:underline;
    transition:.3s;
    color:inhreit;
}

.Bridge > .bottom {
    padding-bottom:32px;
    background:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:1px;
    width:100%;
}
.Bridge > .bottom::before{
    content:"";
    background-position:bottom;
    background-repeat: repeat-x;
    background-color:#2c3a43;
    height:1px;
    flex: 1 1 auto;
}
.Bridge > .bottom::after {
    content:"";
    background-position:bottom;
    background-repeat: repeat-x;
    background-color:#2c3a43;
    height:1px;
    flex: 1 1 auto;
}

.Bridge > .Bridge-container {
     width:100%;
     margin: 0 auto;
     box-sizing:border-box;
     max-width:1200px;
}
.Bridge > .Bridge-container > .bridge {
    width:100%;
    max-width:475px;
    margin: 0 auto 32px;
    box-shadow:  0 2px 8px rgba(245,251,255,.1);
    border-radius:8px;
    font-size:14px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section {
    border-bottom: 1px solid #2c3a43;
    padding:16px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container {
    border:1px solid #2c3a43;
    border-radius:8px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-title:first-child {
    margin-top: 12px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-title {
    display:flex;
    align-items: center;
    padding: 0px 12px;
    margin-bottom:4px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-title > h1 {
    color:#c7d2da;
    flex: 1 1;
    display:flex;
    font-size:14px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-form {
    border-bottom:1px solid #2c3a43;
    display:flex;
    align-items: center;
    padding:0 12px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-form > .dropdown_network {
    position:relative;
    cursor:default;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-form > .dropdown_network > .header {
    height:40px;
    margin-bottom: 8px;
    border:1px solid #2c3a43;
    background:#1a2227;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    transition:.3s;
    border-radius:8px;
    font-weight: 500;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-form > .dropdown_network > .header > .header_title {
    display:flex;
    align-items: center;
    flex: 1 1;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-first-form > .dropdown_network > .header > .header_title > img {
    box-shadow: 0 0 0 2px #2c3a43;
    width:25px;
    border-radius:100%;
    margin: 2.5px 12px 2.5px 2.5px;
    user-select: none;
    margin-right: 8px;

}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-title {
   display:flex;
   align-items: center;
   padding: 0 12px;
   margin-top: 8px;
   padding-bottom:4px;
   margin-bottom: 8px;
   font-size:14px;

}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-title > h1 {
    color:#c7d2da;
    flex: 1 1;
    font-size:14px;

    display:flex;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-title > p {
    font-size:14px;
    color: #c7d2da;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form {
    display:flex;
    align-items: center;
    padding: 0 12px;
    margin-bottom:16px;
    margin-top: 4px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .container {
     display:inline-flex;
     height:50px;
     transition:.3s;
     cursor:pointer;
     border-radius:8px;
     align-items: center;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .container > img {
    box-shadow: 0 0 0 2px #2c3a43;
    margin-right: 12px;
    border-radius: 100%;
    width:36px;
    height: 36px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .container > .form  {
    display:inline-flex;
    align-items:center;
    justify-content: flex-start;
  
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .container > .form > h1 {
    font-size: 20px;
    font-weight: 500;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .max {
     transition:.3s;
     cursor:pointer;
     border-radius: 8px;
     align-items: center;

     background:rgba(120,79,254,.15);
     font-size:14px;
     text-transform: uppercase;
     font-weight: 500;
     color:#784ffe;
     padding:8px;
     display:flex;
     margin: 0 12px;
     position:relative;
     right:90px;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .input {
     text-align:right;
     position:relative;
    width:405px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .input > input {
    width:100%;
    font-size:30px;
    max-width:232px;
    font-weight: 500;
    box-sizing: border-box;
    height: auto;
    padding: 0;
    text-align: right;
    background:transparent;
    border:none;
    color:#fff;
    margin:0;
    outline:none;

}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .input > input:not(:focus) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-middle {
    padding:8px 16px;
    color:#c7d2da;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-middle > .bridge-middle-row {
    display:flex;
    align-items: center;
    flex-basis:auto;
    flex-grow:1;
    justify-content: center;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-middle > .bridge-middle-row > p {
    margin-bottom: 8px;
    margin-top: 8px;

    justify-content: center;
    text-align: center;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network {
    margin-bottom: 20px;
    border:1px solid #2c3a43;
    border-radius: 8px;

}

/* ------------------------------------------*/
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-title-row {
    margin-top:12px;
    display:flex;
    align-items: center;
    padding: 0 12px;


}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-title-row > p {
    color:#c7d2da;
    flex: 1 1;
    display:flex;
}
/* ------------------------------------------ */


/* ---------------------------------------------- */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-box-row {
    display:flex;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 8px;
    position:relative;
    border-bottom:1px solid #2c3a43;
    cursor:default;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-box-row > .network_header {
    height:40px;
    margin-bottom:8px;
    background-color:#1a2227;
    display:flex;
    justify-content:space-between;
    padding: 0 16px;
    align-items:center;
    transition:.3s;
    border-radius: 8px;
    font-weight:500;
    user-select:none;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-box-row > .network_header > .network_header_title {
    display:flex;
    align-items:center;
    flex: 1 1;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-first-box-row > .network_header > .network_header_title > img {
   box-shadow:0 0 0 2px #2c3a43;
   
   width:25px;
   border-radius:100%;
   margin: 2.5px 12px 2.5px 2.5px;
}

/* ------------------------------------------------- */

/* ---------------------------------------------------- */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network  > .bridge-second-card-row {
   display:flex;
   align-items:center;
   padding: 0 12px;
}
/* --------------------------------------------------- */

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network  > .bridge-second-card-row > p {
    color:#c7d2da;
    padding-top:2px;
    display:flex;
    flex: 1 1;
}


/* ---------------------------------------------------- */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-second-invest-row {
     display:flex;
     align-items: center;
     padding:0 12px;
     margin-bottom: 16px;
     margin-top:4px;    
 }

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-second-invest-row > .second-container {
    display:inline-flex;
    height:50px;
    transition:.3s;
    border-radius: 8px;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    font-weight:500;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-second-invest-row > .second-container > h1 {margin-right: 4px;}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-network > .bridge-second-invest-row > .flex {
    
}
/* end */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest {
    border:1px solid #2c3a43;
    border-radius:8px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-content {
    display:flex;
    justify-content: space-between;
    padding: 12px;
    padding-bottom: 0;
    margin-bottom: 16px;
    font-size:14px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-content > h1 {
    font-size: 14px;
    color:#c7d2da;
    font-weight: 500;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings {
    padding:12px;
    display:grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,50%);
    grid-row-gap:8px;
    row-gap:8px;
    justify-content: space-between;
}


/* second */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right {
    justify-content: flex-end;
    align-items: center;
    display:flex;
    grid-gap:8px;
    gap:8px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right:nth-child(2n) {
    text-align: right;
}

/* switch */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > .extact {
    position:relative;
    display:inline-block;
    text-align: left;
    opacity: 1;
    direction:ltr;
    border-radius:12px;
    transition: opacity 0.25s ease 0s;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select:none;
}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > .extact > .switch-bg {
    width:48px;
    height: 24px;
    margin:0px;
    position:relative;
    background: rgb(32,42,48);
    border-radius:8px;
    cursor:pointer;
    transition: background 0.25s ease 0s;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > .extact > .switch-bg > .switch-handle {
    height:12px;
    width:12px;
    background: rgb(255,255,255);
    display:inline-block;
    cursor:pointer;
    position:absolute;
    transform:translateX(6px);
    top: 6px;
    border-radius:7px;
    outline:0px;
    box-shadow: rgb(223 232 249) 0px 0px 0px 0px;
    border:0;
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;

}

.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > .extact > .switch-bg > input {
    border:0;
    clip: rect(0px,0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position:absolute;
    width:1px;
}
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > .extact > .switch-bg > input[type=checkbox] {
    box-sizing: border-box;
}
/* end */
.Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-invest > .invest-settings > .settings_right > p {
    justify-content: flex-end;
    display:flex;
    align-items:center;
    grid-gap:8px;
    gap:8px;
}
/* ----------------------------------------------------- */

/* end */
.Bridge > .Bridge-container > .bridge > .bridge-footer {
    border-bottom: 0;
    display:flex;
    justify-content: space-evenly;
    padding:16px;
}
.Bridge > .Bridge-container > .bridge > .bridge-footer > .button--disabled {
    opacity: .3;
    cursor:default;
}
.Bridge > .Bridge-container > .bridge > .bridge-footer > .button--main {

}
.Bridge > .Bridge-container > .bridge > .bridge-footer > button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    background:#784ffe;
    color:#fff;

    border-radius: 8px;
    outline:none;
    display:flex;
    border:none;
    font-size:16px;
    font-weight: 500;
    transition:.3s;
    white-space: nowrap;
    position:relative;
}



@media screen and (min-width:1200px) {
   .Bridge > .Bridge-title > .Bridge-title-body {
       padding:32px 32px 0px 32px;

   }
   .Bridge > .Bridge-container {
       padding:0px 32px;
   }
}

@media screen and (max-width:1200px ) {
    .Bridge > .Bridge-title > .Bridge-title-body {
        padding:32px 32px;
        padding-bottom:0;
    }
    .Bridge > .Bridge-title > .Bridge-title-body > .title {

    }
}

@media screen and (max-width: 600px) {
    .Bridge > .Bridge-container > .bridge > .bridge-section > .bridge-section-container > .container-second-form > .max {
        transition:.3s;
        cursor:pointer;
        border-radius: 8px;
        align-items: center;
   
        background:rgba(120,79,254,.15);
        font-size:14px;
        text-transform: uppercase;
        font-weight: 500;
        color:#784ffe;
        padding:8px;
        display:flex;
        margin: 0 12px;
        position:relative;
        right:50px;
   }
}