.Allow-Container {
    display:flex;
    flex-direction: column;
    flex:1 1;
    min-height:100%;
    height:100%;
    height: 834px;

}

.Allow-Container > .header {
    padding-bottom:32px;
    display:flex;
    flex-direction: column;
}

.Allow-Container > .header > .header-top {
    padding-bottom:32px;
    width:100%;
    margin:0 auto;
    box-sizing: border-box;
}
.Allow-Container > .header > .header-top > a {
    
}
.Allow-Container > .header > .header-top > p {
    margin: 1em 0;
}

.Allow-Container > .footer > .network {
   width:100%;
   max-width:1200px;
   box-sizing: border-box;
   margin:0 auto;
}
.Allow-Container > .footer > .network > .container {
    display:flex;
}
.Allow-Container > .footer > .network > .container > .item {
    display:flex;
    padding:0px 16px 16px 16px;
    align-items:center;
    border-bottom:1px solid #fff;
}
.Allow-Container > .footer > .network > .container > .item > img {
     border:0;
     width:24px;
     height: 24px;
     box-shadow:0 0 0 2px #2c3a43;
     border-radius:100%;
     margin-right: 12px;
}
.Allow-Container > .footer > .network > .container > .item > h1 {
    font-size:14px;
}


.Allow-Container > .footer > .trip {
    content:"";
    background-position: bottom;
    background-repeat: repeat-x;
    background-color:#2c3a43;
    height:1px;
}

.Allow-Container > .item {
    width:100%;
    max-width:1200px;
    box-sizing: border-box;
    margin: 0 auto;
    flex: 1 1 auto;
}
.Allow-Container > .item > .item_col {
    display:flex;
    flex: 1 1 auto;
}
.Allow-Container > .item > .item_col > .no_flex {
    width:100%;
    display:block;
    padding-bottom: 32px;
    margin-bottom: 32px;;
    flex: 1 1;
}
.Allow-Container > .item > .item_col > .no_flex > .item_empty {
    border:1px solid #2c3a43;
    justify-content: center;
    align-items: center;
    border-radius:8px;
    padding:32px;
    display:flex;
    flex-direction: column;
}
.Allow-Container > .item > .item_col > .no_flex > .item_empty > .item_empty_icon {
     background:#202a30;
     color:#fff;
     padding:16px;
     margin-bottom: 16px;
     border-radius: 100%;
     position:relative;
     display:flex;
     align-items:center;
     justify-content: center;
     width:56px;
     height:56px;
}
.Allow-Container > .item > .item_col > .no_flex > .item_empty > .item_empty_icon > .icon {
    border-radius:100%;
    color:#fff;
    width:2.75rem;
    height: 2.75rem;
}
.Allow-Container > .item > .item_col > .no_flex > .item_empty > .item_empty_icon > .cancle {
    color: #141a14;
    border-radius:100%;
    padding:4px;
    background:#784ffe;
    position:absolute;
    top:0;
    right:0;
    width:1.25em;
    height:1.25em;
}

.Allow-Container > .item > .item_col > .no_flex > .item_empty > h1 {
    color:#fff;     
    font-size:18px;
}

@media screen and (min-width: 600px) {
    .Allow-Container > .header > .header-top {
        padding:32px 32px 0px 32px;
    }
    .Allow-Container > .item  {
        padding:0px 32px;
    }
}

@media screen and (max-width: 600px) {
   .Allow-Container > .header > .header-top {
     padding: 12px 12px 0px 12px; 
   }

   .Allow-Container > .header > .header-top > h1 {
       font-size:20px;
   }
   .Allow-Container > .header > .header-top > p {
       margin:1em 0;
       font-size:16px;
   }
   .Allow-Container > .item  {
       padding: 0px 12px;
   }
 
}

@media screen and (min-width: 600px) {
    .Allow-Container > .header > .header-top > a {
        text-decoration: underline;
    }
}

@media screen and (min-width:1200px) {
.Allow-Container > .header > .header-top {
    padding: 32px 32px 0px 32px;
}
.Allow-Container > .header > .header-top > p {
    padding-bottom:12px;
}
.Allow-Container > .footer {
    display:block;
}
.Allow-Container > .footer > .network { 
    padding: 0px 32px;
}
.Allow-Container > .footer > .network > .container {
    display:flex;
}

.Allow-Container > .item {
    padding:0px 32px;
  }

}