
.Container {
    width:100%;
    max-width: 1480px;   
    height: 100%;
    margin:0 auto;
    display:flex;
    overflow:hidden;
    position:relative;
    /* z-index 금지 */

}

.Container > .Body {
    display:flex;
    flex: 1 1;
    flex-direction:column;
}
.Container > .Body > .app.isactive {
    display:none;
}
.Container > .Body > .app.active {
    height: 100%;
    outline:none;
    display:block;
    width:100%;
    
    top: 0;
    background:rgba(33,38,43,.75);
    position:absolute; 

}
@media screen and (min-width:600px) {
     .Container > .Body > .app.active {
         display:none;
     }
}

.Container >  .app.active > .app-content-open {
    transform: translateX(0);
    height: 100%;
    outline:none;
    width:240px;
    transition: transform .25s ease-in, -webkit-transform .25 ease-in-out;
    
}

.Container >  .app.active > .app-content-open > .sidebar {
    background:#141a1e;
    border-right: 1px solid #2c3a43;
    display:flex;
    flex-direction: column;
    padding: 16px;
    width: 207px;
    min-height: 100%;
    z-index: 10;
    box-sizing:border-box;
}
.Container > .Body > .app.active > .app-content-open > .sidebar > .sidebar_account {
    z-index: 1;
    flex: 1 1;
    display:flex;
}


@media screen and (max-width:600px) {
.Container > .Body > .app.active > .app-content-open > .sidebar {
     overflow-y: auto;
}
}

.Container > .Body > .app.isactive {

    display:none;
     
}

.Container > .Body > .app-header {
    border-bottom: 1px solid #2c3a43;
    width:100%;
    display:none;

}
.Container > .Body > .app-header > .app-header-hidden {
    display:none;
}
.Container > .Body > .app-header > .app-header-hidden > .mobile-header {
    
}

.Container > .Body > .wrapper {
    border-right:1px solid var(--border-color);
    display:flex;
    flex-direction: column;
    flex: 1 1 ;
    width:100%;
    height: 100%;
    min-height: 200px;
    scroll-behavior: smooth;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: unset;
    scroll-behavior:initial;
 
    z-index:9999;

}


.Container > .Body > .wrapper > .top > .hidden-top {
   width:100%;
   padding-bottom:32px;
   flex:1 1;
   z-index:1;
   overflow:auto;  
   display:none;

}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier 
{

    right:1em;
    bottom:1em;
    position:fixed;
    padding:4px;
    -webkit-transform: translateZ(9999px);
    box-sizing: border-box;
    color:#fff;
    width:320px;

}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body {
     animation-fill-mode: forwards;
     animation-duration: 750ms;
     border:2px solid #f1356e;   
     font-size:16px;
     color:#fff;
     box-shadow: 0 2px 8px rgba(245,251,255,.1);
    background:#000;
     position:relative;
     min-height: 64px;
     box-sizing:border-box;
     max-height: 800px;
     justify-content: space-between;
     overflow:hidden;
     direction:ltr;
     padding:12px;
     margin-top: 16px;
     align-items:center;
     display:flex;
     margin-bottom: 0;
     border-radius:8px;
     z-index:1;

}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body > .notifer-body_alert {
    flex: 1 1 auto;
    margin:0;
    display:flex;
    align-items: center;
    font-size:14px;
}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body > .notifer-body_alert > .notifer-body_content {
     display:flex;
     align-items: center;
     flex: 1 1;
     font-size:14px;
     font-weight: 400;
}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body > .notifer-body_alert > .notifer-body_content > .waring {
    background:rgba(241,53,110,.15);
    min-width:32px;
    width:32px;
    height:32px;
    border-radius:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:12px;
}
.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body > .notifer-body_alert > .notifer-body_content > h1 {
    font-size:15px;
}


.Container > .Body > .wrapper > .top > .hidden-top > .notifier > .notifer-body > button {
   border:none;
   color:#fff;
   background:#141a1e;
   border:1px solid #2c3a43;
   opacity: 1;
   width:32px;
   height: 32px;
   min-width:32px;
   outline:none;
   padding:0;
   border-radius:100%;
   align-self:auto;

}


.Container > .Body > .wrapper > .top {
    width:100%;
    padding-bottom:32px;
    flex: 1 1;

}
.Container > .Body > .wrapper > .bottom {
    width:100%;
    display:block;
}
@media screen and (min-width: 1400px) {


    .Container > .Body > .wrapper {
        width: calc(1480px - 240px - 350px);
        position:fixed;
        height: 100%;
    }
    .Container > .Body > .wrapper {

    }
}


@media screen and (max-width: 1200px) {
    .Container {
       flex-direction:row;
    }
    .Container > .Body > .app-header  {
        display:block;
    }

}

@media screen and (max-width: 600px) {

    .Container {
        flex-direction: column;
        display:flex;
    }
    
    .Container > .Body > .wrapper {
    }
    
    .Container > .Body > .app-header {
        border-bottom:1px solid #2c3a43;
        width:100%;
        padding:12px 0;
        display:block;
        
    }

    .Container > .Body > .app-header > .app-header-hidden {
         display:inherit;
         padding-bottom:12px;
      }
      
      .Container > .Body > .app-header > .app-header-hidden > .app_container {
         justify-content: space-between;
         display:flex;
         align-items: center;
         padding: 0 16px;
         max-width:1200px;
         width:100%;
         flex-grow:1; 
         box-sizing:border-box;
    }
    .Container > .Body > .app-header > .app-header-hidden > .app_container > .blockie_left {
        position:relative;
        height:44px;

    }

    .Container > .Body > .app-header > .app-header-hidden > .app_container > .blockie_left  > .blockie {
        width:30px;
        height:30px;
        box-shadow: 0 0 0 2px #2c3a43;
        border-radius: 100%;
        background-size:cover;
        background-position: 50%;
    }
    .Container > .Body > .app-header > .app-header-hidden > .app_container > .blockie_center {
        position: relative;
    }
    .Container > .Body > .app-header > .app-header-hidden > .app_container > .blockie_center > img {
        position: absolute;
        transform: rotate(150deg);
        left: -25px;
        bottom:-12px;
        width:29px;
        vertical-align: middle;
    }
    .Container > .Body > .app-header > .app-header-hidden > .app_container > .blockie_right {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header {
        background:#202a30;
        padding: 12px 16px;
        font-size:12px;
        display:flex;
        align-items: center;
        margin-top: 12px;
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header  > img {
        border:1px solid #2c3a43;
        width:15px;
        height:15px;
        border-radius: 100%;
        margin-right: 4px;
        vertical-align: middle;
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header  > p {
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header  > .point {
        background:#fff;
        width:3px;
        height:3px;
        border-radius:3px;
        margin:0px 8px;
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header > .icon {
        margin-right: 4px;        
    }
    .Container > .Body > .app-header > .app-header-hidden > .mobile-header > span {
        font-size: 10px;
        line-height: 10px;
    }
}