.container {
    width:100%;
    height:100%;
    margin:0 auto;
}

.container > .container_home {
    width:100%;
    padding: 0 32px;
    box-sizing:border-box;
    max-width:1200px;
    height:70px;

}

.container > .container_home > .container_header {
   height:70px;
   display: flex;
   align-items: center;

}
.container > .container_home > .container_header > a {
    align-items: center;
    display:flex;
}
.container > .container_home > .container_header > a > span {
    display:flex;
    align-items: center;
}

.container_header > .brand > .logo {
     position:relative;
     display:flex;
     align-items: center;
}

.container_header > .brand > .logo > .logo-container {
    position:relative;
    align-items: center;
    display:flex;
}
.container_header > .brand > .logo > .logo-container > .hat {
    position:absolute;
    bottom:14px;
    left:3px;
    width:32px;
    height:34px;
    transform: rotate(15deg);
}
.container_header > .brand > .logo > .logo-container > .logo {
    width:30px;
    height:30px;
    margin-right: 12px;
}
.container_header > .brand > .logo > .name {
    align-items: center;
    display:flex;
    font-size: 18px;
    font-weight: 600;
    margin-right: 12px;

}
.container_header > .middle {
    flex: 1 1;
    display:flex;
    align-items: center;
  

}
.container_header > .middle > .search {
    width:100%;
    max-width: 400px;
    height:40px;
    align-items: center;
    display:flex;
    position:relative;
    box-sizing: border-box;
    background:#202a30;
}
.container_header > .middle > .search > .icon {
    color:#c7d2da;
    position:absolute;
    margin-left: 12px;
    left:0;
    z-index: 1;
}
.container_header > .middle > .search  > .container {
    position:relative;
    box-sizing: border-box;
    background:#202a30;
    border:none;
    width:100%;

    box-shadow: none;
    height:40px;
    border-radius: 10px;
    cursor:text;
    align-items: center;

    flex-wrap:nowrap;
    margin-left: 48px;
    margin-right:12px;
    position:relative;
    overflow:hidden;

    color:#c7d2da;
    white-space:nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
}
.container_header > .middle > .search  > .container  > input {
    box-sizing:content-box;
    background:rgba(0,0,0,0) none repeat scroll 0px center;
    border:none;
    padding: 0;
    color:#fff;
    width:100%;
    text-align:left;
    outline:none;
    border-radius: 10px;

}
.container_header > .right {
    display:flex;
    align-items: center;
    
}
.container_header > .right > .home {
    display:grid;
    font-weight:700;
    grid-template-columns: repeat(3,max-content);
    column-gap:32px;
}
.container_header > .right > .home > a {
    align-items: center;
    display:flex;

    color:#fff;
    transition: .3s;
    cursor:pointer;
    
}

@media screen and (min-width: 1200px) {
    .container > .container_home {
        margin: 0 auto;
    }
    .container > .container_section {
        margin: 0 auto;
    }
}

/*  Container 2번째 부분 Body */
.container > .container_section {
    width:100%;
    padding: 0 32px;
    height: 600px;
    box-sizing:border-box;
    max-width:1200px;
    /* min-height:600px; */
    align-items: center;
    text-align:center;
    
}
.container > .container_section > .container_home {
    width:100%;
    max-width:900px;
    height: 600px;
    margin:auto;
    text-align: center;
    align-items: center;   
    display:flex;
}

.container > .container_section > .container_home > .container_hero {
    align-items: center;
    height: auto;
}
.container > .container_section > .container_home > .container_hero > h1 {
    font-size: 40px;
     margin-bottom: 8px;
     font-weight: 600;
}
.container > .container_section > .container_home > .container_hero > h1 > span {
    font-size: 56px;
    color:#784ffe;
}
.container > .container_section > .container_home > .container_hero  > p {
    color:#c7d2da;
    margin-top: 12px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size:24px;
}

.container > .container_section > .container_home > .container_hero > .container_cta {
    margin-top: 32px;
    margin-bottom: 12px;
    justify-content:center;
}

.container > .container_section > .container_home > .container_hero > .container_cta > button {
    background:#784ffe;
    color:#fff;
    padding:0 32px;
    height: 54px;
    line-height: 54px;
    border:none;
    font-size: 16px;
    border-radius:8px;
    outline: none;
    transition:.3s;
    cursor:pointer;
    white-space: nowrap;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container > .container_section > .container_home > .container_hero > a > .icon {
    margin-right: 4px;
}

.container > .container_section > .container_home > .container_hero > a {
    color:#784ffe;
    fill: #784ffe;
    display:inline-flex;
    align-items:center;
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
}

.container > .container_stats {
   padding:40px 0;
   display:flex;
   align-items: center;
   max-height:212px;
   max-width:1200px;
   margin:0 auto;
   overflow: hidden;
}
.container > .container_stats > .grid {
    display:grid;
    flex: 1 1;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 12px;
    margin-bottom: 32px;

}

.container > .container_stats > .grid > .block {
    background:#202a30;
    text-align:center;
    border-radius:8px;
    padding: 32px 0;
}
.container > .container_stats > .grid > .block  > h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;

}
.container > .container_stats > .grid > .block  > h4 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.container > .container_stats > .grid > .block  > p {
    color:#c7d2da;
    margin: 1em 0;
    font-size: 16px;
}


.container > .footer {
    width:100%;
    color:#c7d2da;
    border-top: 1px solid #2c3a43;
    margin:0 auto;
    padding: 72px 0;

}
.container > .footer  > .container {
    width:100%;
    max-width:1200px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 32px;
    box-sizing:border-box;
}

.container > .footer  > .container  > .grid {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    flex: 1 1;
    grid-gap:12px;
    margin-bottom: 32px;
}
.container > .footer  > .container  > .grid > .grid_item > a {
    display:flex;
    align-items: center; 

}

/*  footer_logo */
.container > .footer  > .container  > .grid > .grid_item > a > .logo {
    margin-right: 12px;
    position: relative;
}
.container > .footer  > .container  > .grid > .grid_item > a > .logo > .hat { 
   position:absolute;
   transform:rotate(20deg);
   left:8px;
   width:28px;
   bottom:19px;
}
.container > .footer  > .container  > .grid > .grid_item > a > .logo > span {
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    margin-top:2px;
}

/* footer_locale */
.container > .footer  > .container  > .grid > .grid_item > .locale {
   display:flex;
   margin-top: 4px;
   align-items: center;
}
.container > .footer  > .container  > .grid > .grid_item > .locale  > .flex {
    display:flex;
    align-items: center;
}

.container > .footer  > .container  > .grid > .grid_item > .locale  > .dropdown {
    position:relative;
    cursor:pointer;
    background:#141a1e;
    color:#fff;

    max-width:200px;
    padding: 0 12px;
    transition:.3s;
    border-radius: 8px;
    font-weight: 500;

    display:flex;
    align-items: center;
}
.container > .footer  > .container  > .grid > .grid_item > .locale  > .dropdown > .flex {
    color:#c7d2da;
    margin-left: 4px;
    margin-right: 8px;
    align-items: center;
}
.container > .footer  > .container  > .grid > .grid_item > .copyright {
    margin-top: 32px;
    text-align: left;
    font-size: 14px;
}

.container > .footer  > .container  > .grid > .item > h1 {
    color:#fff;
    margin-bottom: 16px;

    font-size: 14px;
}
.container > .footer  > .container  > .grid > .item > a {
    display:flex;
    font-size:14px;
    margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
    .container > .footer  > .container {
        margin: 0 auto;
    }
}

.mr-4 {
    margin-right: 12px;
}



.flex-max {
    flex: 1 1;
}