.language-wrapper {
   display:flex;
   flex-basis: auto;
   flex-grow:1;
   justify-content: flex-end;
}

.language-wrapper > .dropdown-language {
    position:relative;
    cursor: default;

    width:100%;
    display:flex;
    align-items: center;
    max-width: 30px;
    padding:0 12px;
    transition:.3s;
    border-radius:8px;
    font-weight: 500;
    cursor:pointer;
    background: #141a1e;
    color:#fff;
    height: 30px;
}
.language-wrapper > .dropdown-language > .flex {
    display:flex;
    align-items: center;
    margin-left: 8px;
}

.language-wrapper > .dropdown-language > .flex > .item {
    margin-left: 8px;
    color:#fff;
    transition:.3s;

}

.language-wrapper > .menu {     



}
.language-wrapper > .menu.inactive {
    z-index: -999;
    display:none;
}

.language-wrapper > .menu.active {
    color:#fff;
    background:#141a1e;
    box-shadow: 0 2px 8px rgba(245,251,255,.1);

    position:absolute;
    left:inherit;
    z-index:11;
    border-radius: 8px;
    padding: 8px;
    min-width:200px;
    margin-top: 40px;
}

.language-wrapper > .menu.active > .nav--link {
    display:flex;
    align-items: center;
    padding: 12px 16px;
    border-radius:8px;
    font-weight: 500;
    font-size: 14px;
    transition:.3s;

    font-size:14px;
}