


.DarkMode {
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-top: 20px;
}

.DarkMode span {
    font-size:18px;
    margin: 0 4px;  
    position:absolute;
}
.DarkMode span:nth-child(1) {
    left:115px;
    z-index:1;
}
.DarkMode span:nth-child(2) {
    right:20px;
}


.DarkMode > .toggle-theme {
    position:relative;
    display:inline-block;
    height:34px;
    width:60px;
}

.DarkMode > .toggle-theme > input {
    display:none;
}

.DarkMode > .item.active {
    display:none;
}

.DarkMode > .item.deactive {
    display:none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
    

}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    z-index:1;
  }


input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color:cornflowerblue;
}

.slider.round {
    border-radius:34px;
}
.slider.round:before {
    border-radius:50%;
}

@media screen and (max-width:600px) {
    .DarkMode {
        display:block;
        padding-top:100px;
    }
    .DarkMode span {
        font-size:14px;
        margin: 0 4px;
    }
    

    .DarkMode > .toggle-theme {
        position:relative;
        display:inline-block;
        height:34px;
        width:60px;
    }
}